body {
  background-image: url("./images/coffee-cup-desk-257894.jpg");
  /* Background image sourced from https://www.pexels.com/ */
  background-attachment: fixed;
  background-size: 1600px;
  background-position: top;
  /* font from Google Fonts */
  margin-bottom: 70px; 
  /* Bottom margin to accomodate sticky footer    */
}

a {
  color: black;
}

a:hover {
  color:black;
  text-decoration: none;
}

#main {
  background: none;
}

#main-link:hover {
  color: #01395e;
}

.main-jumbo {
  background: none;
}